.root {
  /* text-align: center; */
  background: rgb(214, 208, 208);
  color: rgb(87, 83, 83);
  /* justify-content: flex-start; */

}


.Navbar {
  background-color: rgb(198, 238, 240);
  text-align: center;
  height: 120px;
  margin-top: -25px;
}

.input {
  font-size: 15px;
  padding: 5px 30px;
  color: rgb(146, 131, 131);
  width: 175px;
  border: px solid grey;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.flexcontainer {
  background-color: rgb(198, 238, 240);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.card {
  background-color: rgb(198, 238, 240);
  color: rgb(63, 115, 124);
  display: flex;
  margin: 10px;
  width: 20%;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid;

}